.icon-bar {
  color: black;
  border-color: white;
  background-color: #C7C9CA;
}

.Layout {
  text-align: center;
}

h2 {
    color: #C7C9CA;
}
.Layout-logo {
  animation: Layout-logo-spin infinite 5s cubic-bezier(.99,.0,.01,1);
  height: 80px;
}

.Layout-header {
  text-align: center;
  background-color: #000;
  height: 150px;
  padding: 20px;
  color: white;
}

.Layout-intro {
  font-size: large;
}


@keyframes Layout-logo-spin {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(3600deg); }
}

.navbar .navbar-brand {
  color: #C7C9CA;
}

.navbar .navbar-brand:hover{
  color: #CC0000;
}
.navbar .navbar-brand:focus {
  color: #CC0000;
}
.navbar .navbar-text {
  color: #CC0000;
}

.navbar .navbar-nav > li > a {
  color: #C7C9CA;
}
