extends ../layout

block content
	h1.
		#{title}
	form#formAddBlob(name="addblob",method="post",action="/blobs")
		p Name: 
			input#inputName(type="text", placeholder="ex. BIW1-BPL010RB1", name="hostname")
		p OPC Enabled?:
			input#inputOpc(type="radio", name="opcEnabled")
		p
			button#btnSubmit(type="submit") submit